<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
       <listener class-name="utils.SuiteListener"></listener>
   </listeners>
    <test thread-count="5" verbose="2" preserve-order="true" name="E:/Tejas/Projects/Ecommerce-Web-Automation">
        <parameter name="browser" value="chrome"></parameter>

        <classes>
                <class name="HomepageTest"/>
        </classes>

    </test>
</suite>